# Server
SERVER_PORT=8533
SERVER_READTIMEOUT=10
SERVER_WRITETIMEOUT=10

# Database
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USER=crm
DATABASE_PASSWORD=crm_secret
DATABASE_ROOT_PASSWORD=root_secret
DATABASE_NAME=crm_juridico

# Log
LOG_LEVEL=debug

# Observability
PROMETHEUS_PORT=9190
GRAFANA_PORT=3100
