# Arquivos locais (usar .dist como referência)
.env
docker-compose.dev.yml
docker-compose.prod.yml

# Air (hot reload)
tmp/

# Binários Go
/cmd/api/api
*.exe

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
